
<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--link rel="icon" href=""-->

    <title>以书会友</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet "/>
    <link href="/css/bookinfo.css" rel="stylesheet"/>
    <link href="/css/readerSpaceContent.css" rel="stylesheet"/>
</head>

<body>
<nav th:replace="module/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <div class = "book-header">
                <h2><span th:text="${bookName}">机器学习</span></h2>
            </div>
            <div id="content">
                <div class="grid-16-8 clearfix">
                    <div class="article">
                        <div class="indent">
                            <div class="subjectwrap clearfix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="subject clearfix">
                                            <div id="mainpic" class="">
                                                <a class="nbg" href="https://img1.doubanio.com/lpic/s28735609.jpg" title="机器学习">
                                                    <img th:src="${book.bookPic}" title="点击看大图" alt="机器学习" rel="v:photo" style="width: 107px" />
                                                </a>
                                            </div>
                                            <div id="info" class="">
                                                <span class="pl">作者:</span>&nbsp;
                                                    <span th:text="${book.bookAuthor}"></span>
                                                <br />
                                                <span class="pl">ISBN:</span>
                                                <span th:text="${book.bookIsbn}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="interest_sectl" class="col-md-3 col-md-push-5">
                                        <div class="rating_wrap clearbox" rel="v:rating">
                                            <div class="rating_logo">评分</div>
                                            <div class="rating_self clearfix" typeof="v:Rating">
                                                <strong class="ll rating_num " property="v:average"> 8.9 </strong>
                                                <span property="v:best" content="10.0"></span>
                                                <div class="rating_right ">
                                                    <div class="rating_sum">
                                                    <span class="">
                                                        <a href="collections" class="rating_people">
                                                            <span property="v:votes">583</span>人评价
                                                        </a>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="stars5 starstop" title="力荐">5星</span>
                                                <div class="power" style="width:64px"></div>
                                                <span class="rating_per">56.6%</span>
                                                <br />
                                                <span class="stars4 starstop" title="推荐">4星</span>
                                                <div class="power" style="width:35px"></div>
                                                <span class="rating_per">31.6%</span>
                                                <br />
                                                <span class="stars3 starstop" title="还行">3星</span>
                                                <div class="power" style="width:10px"></div>
                                                <span class="rating_per">9.4%</span>
                                                <br />
                                                <span class="stars2 starstop" title="较差">2星</span>
                                                <div class="power" style="width:1px"></div>
                                                <span class="rating_per">1.5%</span>
                                                <br />
                                                <span class="stars1 starstop" title="很差">1星</span>
                                                <div class="power" style="width:0px"></div>
                                                <span class="rating_per">0.9%</span>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="interest_sect_level" class="clearfix">
                                <a href="#" rel="nofollow" class="j a_show_login colbutt ll" name="pbtn-26708119-wish">
                                    <span>
                                        <input id="toread" type="submit" th:onclick="'javascript:postBookStatus(\''+${book.bookId}+'\',\''+'toread'+'\');'" class="minisubmit j " value="想读" title=""  />
                                    </span>
                                </a>
                                <a href="#" rel="nofollow" class="j a_show_login colbutt ll" name="pbtn-26708119-do">
                                    <span>
                                        <input id="reading" type="submit" th:onclick=" 'javascript:postBookStatus(\''+${book.bookId}+'\',\''+'reading'+'\');'" class="minisubmit j " value="在读" title="" />
                                    </span>
                                </a>
                                <a href="#" rel="nofollow" class="j a_show_login colbutt ll" name="pbtn-26708119-collect">
                                    <span>
                                        <input id="readed" type="submit" th:onclick=" 'javascript:postBookStatus(\''+${book.bookId}+'\',\''+'readed'+'\');'" class="minisubmit j "  value="读过" title="" />
                                    </span>
                                </a>
                            </div>
                        </div>
                        <br clear="all" />
                        <div id="collect_form_26708119"></div>
                        <div class="related_info">
                            <h2>
                                <span class="">内容简介</span>
                                &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
                            </h2>
                            <div class="indent" id="link-report">
                                <span class="short">
                                    <div class="intro">
                                        <span th:text = "${book.bookIntroduction}"></span>
                                    </div>
                                </span>
                            </div>
                            <div class="editarea col-md-12">
                                <div class="mainblock" style="height: 200px">
                                    <div class="wordarea">
                                        <form class="form-group">
                                            <label for="name"><span>想记录下什么？</span></label>
                                            <textarea type="text" class="form-control" id="name"
                                                      style="height: 100px"></textarea>
                                            <div class="buttongroup">
                                                <button class="btn subtn" th:onclick=" 'javascript:postReview(\''+${book.bookId}+'\');'">
                                                    <span>发布</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <section class="reviews mod book-content">
                                <header>
                                    <h2>
                                        机器学习的书评
                                        <span class="pl">(<a href="reviews">全部 1 条</a>)</span>
                                    </h2>
                                </header>
                                <div class="review-list">
                                        <div class="main review-item" id="7762499">
                                            <header class="main-hd">
                                                <tr th:each="review:${reviewList}">
                                                    <td th:text="${reviewStat.count}">
                                                    </td>
                                                    <td th:text="${review.ReaderName}">
                                                    </td>
                                                    <td th:text="${review.ReviewContent}">
                                                    </td>
                                                    <br />
                                                </tr>
                                            </header>
                                        </div>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    function postBookStatus(bookId,bookState) {
        if(bookState === "toread"){
            $("#reading").attr("class", "");
            $("#read").attr("class", "");
            $("#toread").attr("class", "active");
        }
        if(bookState === "read"){
            $("#reading").attr("class", "");
            $("#read").attr("class", "active");
            $("#toread").attr("class", "");
        }
        if(bookState === "reading"){
            $("#reading").attr("background", "#");
            $("#read").attr("class", "");
            $("#toread").attr("class", "");
        }
        $.post('/reader/bookState',
            {
                bookId:bookId,
                bookState:bookState
            },function(data){
                alert("Data: " + data);
            });
    }

    function postReview(bookId){
        var text =$("#name").val();
        $.post('/reader/review',{
            bookId:bookId,
            review:$("#name").val()
        },function(data){
            setTimeout(function () {
                window.location.reload(true);
            }, 1000);
        });
    }
</script>
</body>
</html>
