<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>欢迎 · 瓜皮读书</title>
</head>
<body>
<h1>首页</h1>
<div th:if="${isLogin == true}">
    <span th:text="'欢迎 ' + ${readerName}"></span>
    <p>这是个性推荐</p>
    <a href="/reader/readerspace">书房</a>
</div>
<div th:if="${isLogin == false}">
    更多内容，请先<a href="/reader/readerspace">登录/书房</a>
</div>
</body>
</html>