<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<div class="editarea col-md-12">
    <div class="mainblock" style="height: 200px">
        <div class="wordarea">
            <form class="form-group">
                <label for="name"><span>想记录下什么？</span></label>
                <textarea type="text" class="form-control" id="name"
                          style="height: 100px"></textarea>
                <div class="buttongroup">
                    <button class="btn subtn"><span>发布</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="displayarea col-md-12">
    <ul class="notelist" th:if="${notes.size() != 0}">
        <li class="noteitem" th:each="note:${notes}">
            <div class="mainblock ">
                <div class="personinfo">
                    <div class="cover">
                        <div class="headpic">
                            <img class="face_radius"
                                 src="http://tva3.sinaimg.cn/crop.153.82.383.383.180/b1fe14bajw8ezmgsly4jaj20j60f9ael.jpg"
                                 width="60" height="60" alt="Budience"/>
                        </div>
                        <div class="info">
                            <div class="nameBox" th:text="${readerName}">
                                王小明
                            </div>
                            <div class="timestamp">
                                2017年6月13日
                                9:08
                            </div>
                        </div>
                    </div>
                </div>
                <div class="note">
                    <p th:text="${note.noteContent}">adsdaddasasaadas</p>
                </div>
            </div>
        </li>
    </ul>
</div>
</html>