<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>瓜皮读书 · 书房</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet "/>
    <link href="/css/readerspace.css" rel="stylesheet"/>
</head>

<body>
<nav th:replace="module/navbar :: navbar"></nav>

<div class="container">
    <div class="row">
        <!--左边选项卡-->
        <div class="col-xs-3 col-md-push-1">
            <!--上部用户头像+简要信息-->
            <div id="v6_pl_rightmod_myinfo">
                <div class="WB_cardwrap S_bg2">
                    <div class="W_person_info">
                        <div class="cover" id="skin_cover_s"
                             style="background-image:url(http://img.t.sinajs.cn/t5/skin/public/profile_cover/001_s.jpg?version=666ef7e6699a0e36)">
                            <div class="headpic"><a bpfilter="page_frame"
                                                    href="/reader/info" title="Budience"><img
                                    class="W_face_radius"
                                    src="http://tva3.sinaimg.cn/crop.153.82.383.383.180/b1fe14bajw8ezmgsly4jaj20j60f9ael.jpg"
                                    width="60" height="60"
                                    alt="Budience"/></a></div>
                        </div>
                        <div class="WB_innerwrap">
                            <div class="nameBox">
                                <a bpfilter="page_frame" href="/reader/info"
                                   class="name S_txt1" title="User_1" th:text="${reader.Name}">王小明</a>

                            </div>
                            <ul class="user_atten clearfix W_f18">
                                <li class="S_line1">
                                    <a bpfilter="page_frame"
                                       href="/reader/following"
                                       class="S_txt1">
                                        <strong node-type="follow">255</strong>
                                        <span class="S_txt2">关注</span>
                                    </a>
                                </li>
                                <li class="S_line1">
                                    <a bpfilter="page_frame"
                                       href="/reader/followers" class="S_txt1">
                                        <strong node-type="fans">65535</strong>
                                        <span class="S_txt2">粉丝</span>
                                    </a>
                                </li>
                                <li class="S_line1"><a bpfilter="page_frame"
                                                       href="/reader/news"
                                                       class="S_txt1">
                                    <strong node-type="weibo">172</strong><span
                                        class="S_txt2">动态</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--下部选项卡-->
            <div class="user-option sidebar">
                <ul class="nav nav-sidebar">
                    <li onclick="loadHtmlPart('/reader/readState', 'contentPart');" class="active"><a href="#">阅读状态</a></li>
                    <li onclick="loadHtmlPart('/reader/bookList', 'contentPart');"><a href="#">书单</a></li>
                    <li onclick="loadHtmlPart('/reader/bookTag', 'contentPart');"><a href="#">标签</a></li>
                    <li onclick="loadHtmlPart('/reader/friend', 'contentPart');"><a href="#">好友</a></li>
                    <li onclick="loadHtmlPart('/reader/bookNote', 'contentPart');"><a href="#">读书</a></li>
                    <li onclick="loadHtmlPart('/reader/bookReview', 'contentPart');"><a href="#">书评</a></li>
                </ul>

            </div>
        </div>
        <!--内容展示区-->
        <div id="contentPart" class="col-xs-7 col-md-push-1">

        </div>

    </div>
</div>


<!--<div>-->
    <!--<h1><a href="/" style="color: green; font: bold;">瓜皮读书</a>·书房</h1>-->
    <!--<div>-->
        <!--<div>-->
            <!--欢迎用户: <span th:text="${reader}">Mingjing Chan</span>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href="/logout">登出/注销登录</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--动态替换-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function loadHtmlPart(url, divID) {
        $.get(url, function (data) {
            $('#' + divID).html(data);
        })
    }
    /*]]>*/
</script>
<!--加载默认-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(loadHtmlPart('/reader/readState', 'contentPart'));
    /*]]>*/
</script>
</body>
</html>