<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>瓜皮读书 · 以书会友</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/register.css" rel="stylesheet "/>
</head>
<body>
<form class="msform">
    <!-- progressbar -->
    <!--<ul id="progressbar">-->
    <!--<li>Account Setup</li>-->
    <!--<li>Personal Details</li>-->
    <!--</ul>-->
    <!-- fieldsets -->
    <fieldset>
        <h2>创建你的账户</h2>
        <label for="emailVar">邮箱:</label>
        <!--<input type="text" id="emailVar" placeholder="邮箱" onblur="mail_blur();"/>-->
        <input type="text" id="emailVar" placeholder="邮箱"/>
        <div id="mail_result">输入不合法</div>
        <label for="passVar">密码:</label>
        <input type="password" id="passVar" placeholder="密码"/>
        <label for="cpass">密码:</label>
        <input type="password" id="cpass" name="cpass" placeholder="确认密码" onblur="pass_blur();"/>
        <div id="pass_result">两次密码不一样</div>
        <input type="button" id="next" value="提交"/>
    </fieldset>
    <!--<fieldset>-->
        <!--<h2>个人标签</h2>-->
        <!--<div>-->
            <!--<form>-->
                <!--<ul>-->
                    <!--<li><input type="checkbox" name="vehicle" value="Literature"/>文学</li>-->
                    <!--<li><input type="checkbox" name="vehicle" value="History"/>历史</li>-->
                    <!--<li><input type="checkbox" name="vehicle" value="Fiction"/>小说</li>-->
                    <!--<li><input type="checkbox" name="vehicle" value="Manga"/>漫画</li>-->
                    <!--<input type="submit" name="submit" value="Submit"/>-->
                <!--</ul>-->


            <!--</form>-->

        <!--</div>-->
    <!--</fieldset>-->
</form>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="js/register.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#mail_result").hide();
        $("#pass_result").hide();
    });
    /*]]>*/
</script>
</body>
</html>