<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--link rel="icon" href=""-->

    <title>瓜皮读书 · 书房</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet "/>
    <link href="/css/readerspace.css" rel="stylesheet"/>
</head>

<body>
<!--导航栏 navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">以书会友</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主 页</a></li>
                <li><a href="/gallery-1.html">百 科</a></li>
                <li class="active"><a href="gallery-1.html">书 房</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search"/>
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="sign.html">注册</a></li>
                <li><a href="sign_in.html">登录</a></li>
                <li class="active">
                    <a href="userspace.html">我<span class="sr-only">(current)</span>
                        <span class="badge pull-right">42</span>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">


        <!--左边选项卡-->
        <div class="col-xs-3 col-md-push-1">
            <div id="v6_pl_rightmod_myinfo">
                <div class="WB_cardwrap S_bg2">
                    <div class="W_person_info">
                        <div class="cover" id="skin_cover_s"
                             style="background-image:url(http://img.t.sinajs.cn/t5/skin/public/profile_cover/001_s.jpg?version=666ef7e6699a0e36)">
                            <div class="headpic"><a bpfilter="page_frame"
                                                    href="/2986218682/profile?rightmod=1&amp;wvr=6&amp;mod=personinfo"
                                                    title="Budience"><img class="W_face_radius"
                                                                          src="http://tva3.sinaimg.cn/crop.153.82.383.383.180/b1fe14bajw8ezmgsly4jaj20j60f9ael.jpg"
                                                                          width="60" height="60"
                                                                          alt="Budience"/></a></div>
                        </div>
                        <div class="WB_innerwrap">
                            <div class="nameBox">
                                <a bpfilter="page_frame" href="..&amp;..&amp;mod=personinfo"
                                   class="name S_txt1" title="User_1">王小明</a>


                            </div>
                            <ul class="user_atten clearfix W_f18">
                                <li class="S_line1">
                                    <a bpfilter="page_frame"
                                       href="/2986218682/follow?rightmod=1&amp;wvr=6"
                                       class="S_txt1">
                                        <strong node-type="follow">255</strong>
                                        <span class="S_txt2">关注</span>
                                    </a>
                                </li>
                                <li class="S_line1">
                                    <a bpfilter="page_frame"
                                       href="/2986218682/fans?rightmod=1&amp;wvr=6" class="S_txt1">
                                        <strong node-type="fans">65535</strong>
                                        <span class="S_txt2">粉丝</span>
                                    </a>
                                </li>
                                <li class="S_line1"><a bpfilter="page_frame"
                                                       href="/2986218682/profile?rightmod=1&amp;wvr=6&amp;mod=personnumber"
                                                       class="S_txt1">
                                    <strong node-type="weibo">172</strong><span
                                        class="S_txt2">动态</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-option sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">书单<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">标签</a></li>
                    <li><a href="#">好友</a></li>
                    <li><a href="#">读书笔记</a></li>
                    <li><a href="#">书评</a></li>
                </ul>

            </div>
        </div>


        <!--内容呈现-->
        <div class="col-xs-7 col-md-push-1">

            <div class="us-occupation section-board">

                <div class="header clearfix">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation" class="active"><a href="#">在读</a></li>
                            <li role="presentation"><a href="#">已读</a></li>
                            <li role="presentation"><a href="#">想读</a></li>
                        </ul>
                    </nav>

                </div>
                <div class="shelf">
                    <ul class="list-col list-col5 list-express slide-item">


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/26976266/?icn=index-latestbook-subject"
                                   title="二十亿光年的孤独">
                                    <img src="https://img3.doubanio.com/lpic/s29405715.jpg" class=""
                                         width="106px" height="158px" alt="二十亿光年的孤独"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/26976266/?icn=index-latestbook-subject"
                                       title="二十亿光年的孤独">二十亿光年的孤独</a>
                                </div>
                                <div class="author">
                                    [日] 谷川俊太郎
                                </div>
                            </div>
                        </li>


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/26984672/?icn=index-latestbook-subject"
                                   title="元素周期表">
                                    <img src="https://img1.doubanio.com/lpic/s29370568.jpg" class=""
                                         width="106px" height="158px" alt="元素周期表"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/26984672/?icn=index-latestbook-subject"
                                       title="元素周期表">元素周期表</a>
                                </div>
                                <div class="author">
                                    [意] 普里莫·莱维
                                </div>
                            </div>
                        </li>


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/27018089/?icn=index-latestbook-subject"
                                   title="音乐即自由">
                                    <img src="https://img3.doubanio.com/lpic/s29423950.jpg" class=""
                                         width="106px" height="158px" alt="音乐即自由"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/27018089/?icn=index-latestbook-subject"
                                       title="音乐即自由">音乐即自由</a>
                                </div>
                                <div class="author">
                                    [日] 坂本龙一
                                </div>
                            </div>
                        </li>


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/27029891/?icn=index-latestbook-subject"
                                   title="冰下的人">
                                    <img src="https://img3.doubanio.com/lpic/s29435452.jpg" class=""
                                         width="106px" height="158px" alt="冰下的人"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/27029891/?icn=index-latestbook-subject"
                                       title="冰下的人">冰下的人</a>
                                </div>
                                <div class="author">
                                    侯磊
                                </div>
                            </div>
                        </li>


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/26995723/?icn=index-latestbook-subject"
                                   title="五个人的战争">
                                    <img src="https://img3.doubanio.com/lpic/s29442790.jpg" class=""
                                         width="106px" height="158px" alt="五个人的战争"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/26995723/?icn=index-latestbook-subject"
                                       title="五个人的战争">五个人的战争</a>
                                </div>
                                <div class="author">
                                    [美] 马克·哈里斯
                                </div>
                            </div>
                        </li>


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/26897741/?icn=index-latestbook-subject"
                                   title="破门">
                                    <img src="https://img1.doubanio.com/lpic/s29446779.jpg" class=""
                                         width="106px" height="158px" alt="破门"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/26897741/?icn=index-latestbook-subject"
                                       title="破门">破门</a>
                                </div>
                                <div class="author">
                                    [日] 黑川博行
                                </div>
                            </div>
                        </li>


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/26892159/?icn=index-latestbook-subject"
                                   title="树号">
                                    <img src="https://img3.doubanio.com/lpic/s29400074.jpg" class=""
                                         width="106px" height="158px" alt="树号"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/26892159/?icn=index-latestbook-subject"
                                       title="树号">树号</a>
                                </div>
                                <div class="author">
                                    [俄] 维克托·阿斯塔菲耶夫
                                </div>
                            </div>
                        </li>


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/26970515/?icn=index-latestbook-subject"
                                   title="远野物语Remix">
                                    <img src="https://img3.doubanio.com/lpic/s29402680.jpg" class=""
                                         width="106px" height="158px" alt="远野物语Remix"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/26970515/?icn=index-latestbook-subject"
                                       title="远野物语Remix">远野物语Remix</a>
                                </div>
                                <div class="author">
                                    [日] 京极夏彦&nbsp;/&nbsp;[日] 柳田国男
                                </div>
                            </div>
                        </li>


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/27013663/?icn=index-latestbook-subject"
                                   title="时间的果">
                                    <img src="https://img3.doubanio.com/lpic/s29446323.jpg" class=""
                                         width="106px" height="158px" alt="时间的果"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/27013663/?icn=index-latestbook-subject"
                                       title="时间的果">时间的果</a>
                                </div>
                                <div class="author">
                                    黎戈
                                </div>

                            </div>
                        </li>


                        <li class="">
                            <div class="cover">
                                <a href="https://book.douban.com/subject/26982739/?icn=index-latestbook-subject"
                                   title="重新派遣">
                                    <img src="https://img1.doubanio.com/lpic/s29365189.jpg" class=""
                                         width="106px" height="158px" alt="重新派遣"/>
                                </a>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a class=""
                                       href="https://book.douban.com/subject/26982739/?icn=index-latestbook-subject"
                                       title="重新派遣">重新派遣</a>
                                </div>
                                <div class="author">
                                    [美]菲尔·克莱
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
