<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itcrowds.guapibooks.mapper.BookMapper">
    <cache eviction="LRU" flushInterval="60000" readOnly="true"/>

    <resultMap id="book" type="com.itcrowds.guapibooks.domain.Book">
        <id column="BOOK_ID" property="bookId" javaType="Integer"/>
        <result column="BOOK_NAME" property="bookName" javaType="String"/>
        <result column="BOOK_AUTHOR" property="bookAuthor" javaType="String"/>
        <result column="BOOK_ISBN" property="bookIsbn" javaType="String"/>
        <result column="BOOK_VIEWS" property="bookViews" javaType="Integer"/>
        <result column="BOOK_MARKS" property="bookMarks" javaType="Integer"/>
        <result column="BOOK_INTRODUCTION" property="bookIntroduction" javaType="String"/>
        <result column="BOOK_PIC" property="bookPic" javaType="String"/>
    </resultMap>

    <select id="getBookCount" resultType="int">
        SELECT count(BOOK_ID) FROM BOOK
    </select>

    <select id="getBookByName" resultMap="book" resultType="book">
        SELECT * FROM BOOK WHERE BOOK_NAME = #{bookName}
    </select>

    <select id="getBookById" resultMap="book" resultType="book">
        SELECT * FROM BOOK WHERE BOOK_ID = #{bookId}
    </select>

    <select id="getAllBookName" resultType="String">
        SELECT BOOK_NAME FROM BOOK
    </select>

    <select id="getAllBook" resultMap="book" resultType="book">
        SELECT * FROM BOOK ORDER BY BOOK_MARKS LIMIT 0,3
    </select>
</mapper>